
.title-projekt{
	font-size: 3em;
}
.projects{
		display: flex;
		flex-direction: column;
		padding-bottom: 10px;

		@include tablet{
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			height: auto;
			padding-bottom: 40px;
		}


		.projects-div{
				padding-top: 10px;

				.fa-angle-up{
					animation: arrow-go 2s infinite linear;
				}

				@include tablet{
					height: 300px;
					width: 45%;
					position: relative;
					padding-bottom: 100px;
					padding-top: 40px;

				.fa-angle-up{
					animation: none;
				}
	

				&:hover .fa-angle-up{
					animation: arrow-go 2s infinite linear;
				}

				}
				.links{
					display: flex;
					flex-direction: row;
					justify-content: space-around;
					padding-top: 20px;
					position: relative;
				}

				.link-img{
					display: block;
					width: 100px;
					padding: 10px;
					font-size: 1.8em;
					text-decoration: none;
					border-radius: 10px;
					background-color: #fff;
					text-align: center;
					color: grey;
				}
		}

		.arrow{
			width: 24px;
			height: 24px;
			border: 2px solid black;
			border-radius: 50%;
			font-size: 2em;
			text-align: center;
			text-shadow: 0px -5px 0 black, 0 5px 0 black;
			overflow: hidden;
			position: absolute;
			top: 10px;
			left: 50%;
			transform:translate(-50%);		
		}

		img{
			margin:0 auto;
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			max-width: 100%;
			display: block;
			max-height: 100%;
			@include tablet{
				margin: 0;
			}
		}

}

